.checked {
    box-shadow: 0 0 3px 1px #0048ff5f;
    border: 1px solid #0048ff5f;
}

#selectBox {
    /* outline: dashed blue 1px; */
    border: 1px solid #0af;
    background-color: rgba(0, 255, 255, 0.02);
    position: fixed;
    transition: none;
}