/* 基本样式  */
/* 去除默认样式 */
* {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

/* 隐藏元素  */
.hide {
    display: none;
}

/* 拖动中的样式 */
.dragging {
    transition: none;
    z-index: 4;
}

.test {
    box-shadow: 0 0 10px #ff0000;
}