.dot {
    width: 10px;
    height: 10px;
    position: absolute;
    user-select: none;
    z-index: 3;
    border: 1px solid #000;
}

.dot:hover {
    opacity: 0.5;
}

.dot.temp {
    border: none;
    z-index: 1;
}

.dot.temp:hover {
    border: 1px solid #000;
}

.dot.temp:hover {
    opacity: 1;
}