#menuBox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    max-height: 200px;
    overflow-y: auto;
    transition: all 0.1s ease;
    border: 1px solid #555;

}

#menuBox::-webkit-scrollbar {
    width: 3px;
}

#menuBox::-webkit-scrollbar-thumb {
    background-color: #ffffff5f;
}

#menuBox::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff8f;
    cursor: pointer;
}

.menuTitle {
    color: #555;
    font-size: 12px;
    user-select: none;
}



.menuItem {
    text-decoration: none;
    transition: background-color 0.3s ease;
    user-select: none;
}

.menuItem.tast {
    color: #900;
    height: 1.2rem;
    overflow: hidden;
}

.menuItem.tast:hover::before {
    content: "测试项目，不稳定";
    display: block;
    height: 100%;
    transition: width 0.3s ease;
}

.menuItem:hover {
    background-color: #555;
}