#svgBox {
    position: absolute;
    z-index: -1;
    /* border: 1px solid #ff0000; */
    transition: none;
}

#pathBox {
    transition: none;
    position: absolute;
}

#pathBox * {
    transition: none;
}

#pathBox path:hover {
    transition: all 0.3s ease-in-out;
    stroke: aqua;
}