#svgBox {
    position: absolute;
    z-index: -1;
    /* border: 1px solid #ff0000; */
    transition: none;
}

#pathBox {
    transition: none;
    position: absolute;
}

#pathBox * {
    transition: none;
}

#pathBox path:hover {
    transition: none;
    stroke: aqua;
}

.path.checked {
    stroke-width: 4;
    stroke: aqua;
}